{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content%}
<div>
    
    <div class="container">
        <form method="post" class="form-register" style="color: white;">
            <div class="center">
                <img src="static/img/Untitled.png" alt="logo-NEU">
                <br>
                <br>
                <br>
                <h1 class="text-center">Please fill all information below.</h1>
                <br>
            </div>
            {{ form.ID.label() }}
            {{ form.ID(class="form-control", placeholder="ID of 'phong thi'") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
    </div>
</div>
<style>
    body {
        background-image: url(static/img/mountain_bg.jpg);
    }
    .center {
        margin-top: 10%;
        text-align: center;
    }
</style>
{% endblock %}
